.App {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.routesWrapper{
    display: flex;
    height:100vh ;
    width: 100vw;
    background-color:cadetblue;
}

.sidebar {
    height:100vh;
    width: 200px;
    background-color: #2f4050;
}

.sidebarList {
    height: auto;
    width: 100%;
    padding: 0;
}

.sidebarList .ancharTagsideBarRow{
    height: 100%;
    width: 50px;
    /* border: 1px solid black; */
    margin: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}


.sidebarList .ancharTagsideBarRow:hover {
    cursor: pointer;
    margin: 20px;
}

.sideBarIcon{
    margin: 10px;
    margin-left: 0px;

}

.formWrapper{
    width: 100vw;
    height: 1000px;
    display: grid;
}

.tableWrapper{
    width: 1150px;
    height: 500px;
    /* display: grid; */
}
    


